# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Eclipse related
.settings
.project
.classpath
.studio
target


# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Backend exclusions
/backend/src/main/resources/public/
/backend/target/


# Frontend exclusions
/frontend/target/
/frontend/dist/
/frontend/node_modules/
/frontend/npm-debug.log
/frontend/test-output
/frontend/tests/e2e/reports
/frontend/tests/unit/coverage

